.container {
  width: 100%;
  height: 96px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.fb {
  width: 16px;
}

.ig {
  width: 24px;
}

.twitter {
  width: 24px;
}

.copyright {
  display: flex;
}
